@import "../../colors";

.predictions-main {
  flex: 1 1 auto;
  // margin-right: 50px;
  display: flex;
  flex-direction: column;
  // h2 {
  //   height: 10%;
  // }
  .inputs {
    margin-top: 30px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70%;
    flex-direction: column;
    gap: 30px;
    .content {
      width: 100%;
      flex: 1 1 auto;
    }
    textarea {
      width: 100%;
      resize: none;
      border: 1px solid $grey;
      border-radius: 10px;
      padding: 15px;
      font-size: larger;
      overflow: hidden;
    }
    textarea#content {
      height: 100%;
    }
    button {
      width: 134px;
      height: 52px;
      background-color: $violet;
      border-radius: 14px;
      color: white;
      border: none;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    }
  }
}

.predictions {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff90;
  display: flex;
  align-items: center;
  justify-content: center;
  .predictions-window {
    width: 60%;
    height: 55%;
    background-color: $background_light;
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid $grey;
    .close-button {
      position: absolute;
      top: 5px;
      right: 15px;
      font-size: xx-large;
      cursor: pointer;
    }
    :nth-child(2) {
      .rectangle {
        background-color: $violet_light;
      }
    }
    :nth-child(3) {
      .rectangle {
        background-color: $violet_dark;
      }
    }
    .statistics {
      width: 86%;
      height: 40%;
      border: 1px solid $grey;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 21px;
      // padding-right: 21px;
      .percentage {
        width: 100%;
        height: 62%;

        display: flex;
        align-items: center;
        .percent-text {
          margin-left: 15px;
          margin-right: 15px;
          font-size: x-large;
        }
        .rectangle-container {
          flex: 1 1 auto;
          height: 100%;
          .rectangle {
            height: 100%;
            // background-color: $violet_light;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .predictions {
    justify-content: flex-start;
    .predictions-window {
      width: 90%;
    }
  }
}
