@import "./colors";
.App {
  display: flex;
  min-height: 100vh;
  overflow-y: auto;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 0.75vw;
  padding-right: 50px;
  background-color: $background_light;
  * {
    font-family: sans-serif;
  }
  .error {
    color: $danger;
    font-size: large;
  }
}

@media (max-width: 768px) {
  .App {
    padding-top: 7vh;
    padding-bottom: 3vh;
    padding-left: 25px;
    padding-right: 25px;
  }
}
