@import "./colors";
.App {
  display: flex;
  height: 100vh;
  overflow-y: auto;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 0.75vw;
  background-color: $background_light;
  * {
    font-family: sans-serif;
  }
}
