@import "../../colors";

.burger {
  display: none;
  width: 25px;
  height: 25px;
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  * {
    width: 100%;
    height: 100%;
  }
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13vw;
  height: 94vh;
  border-radius: 1.4vw;
  background-color: $dark_blue;
  gap: 100px;
  padding-top: 2%;
  margin-right: 50px;
  .close-button {
    display: none;
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: xx-large;
    cursor: pointer;
    color: $background_light;
  }
  .logo {
    cursor: pointer;
    font-size: 2vw;
    color: white;
    background-color: #363079;
    // padding: 0.6vw 1.1vw;
    padding: 9px 17px;
    border-radius: 57px;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 60px;
    padding: 15px;
  }

  .link {
    text-decoration: none;
    color: white;
    font-size: 22px;
    text-align: center;
    background-color: #00000000;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    cursor: pointer;
  }
  .link:hover {
    background-color: $violet;
  }
}

.fake-menu {
  position: relative;
  height: 0;
  margin: 0;
  margin-right: 50px;
  padding: 0;
}

@media (max-width: 1000px) {
  .menu {
    display: none; // Hide the entire menu on mobile view by default
    &.show-menu-false {
      display: none;
    }
    &.show-menu-true {
      display: flex;
      width: 60vw;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      border-radius: 0;
      z-index: 10;
      padding-top: 60px;
      .close-button {
        display: block;
      }
    }
    .logo {
      font-size: xx-large;
    }
    .link {
      text-align: left;
    }
    nav {
      gap: 20px;
    }
  }
  .burger {
    display: block;
  }
}
